<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="CaminhoArquivo" value="C:\arquivos\db\"/>
		<add key="MySqlConnection" value="server=localhost;port=3306;User Id=root;database=3camadas; password=''"/>
	</appSettings>
</configuration>